<div [@routerTransition]>
    <app-page-header [heading]="'Listado de demandantes'" [icon]="'fa-users'"></app-page-header>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tbDemandantes" [ngClass]="'table table-bordered table-hover display nowrap'" *ngIf="demandantes" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Solapín</th>
                            <th>Cargo</th>
                            <th class="thOperations" width="50px"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false" [focusCancel]="true">
    </swal>

    <swal #questionSwal title="Información" text="¿Está seguro de eliminar este registro?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="eliminarRegistro()">
    </swal>

    <!-- Ventana modal-->
    <ng-template #modalDemandante let-c="close" let-d="dismiss">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title"><i class="fa fa-user"></i> Editar datos del demandante</h5>
                <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Nombre completo</label>
                    <input type="hidden" formControlName="id">
                    <input type="text" formControlName="nombre_completo" class="form-control" placeholder="Nombre completo" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Solapin</label>
                    <input type="text" formControlName="solapin" class="form-control" placeholder="Solapin" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Cargo</label>
                    <input type="text" formControlName="cargo" class="form-control" placeholder="Cargo" aria-describedby="helpId">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="c('Close click')"><i class="fa fa-remove" aria-hidden="true"></i>
        Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </ng-template>

    <swal #confirmSwal title="Información" text="Registro actualizado" type="success" [showCancelButton]="false" [focusCancel]="true" (confirm)="cerrarVentana()">
    </swal>
</div>