/* You can add global styles to this file, and also import other style files */

@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@media print {
    .breadcrumb {
        display: none !important;
    }
}

.header {
    color: white;
    margin: 10px;
}

.ng2-archwizard .steps {
    color: red;
}

.photo-hidden {
    display: none;
}

.person-photo {
    cursor: url('../assets/zoom_in.cur'), default;
}

.person-original-photo-link {
    position: fixed;
    margin-top: -206px;
    background-color: #000;
    cursor: url('../assets/zoom_out.cur'), default;
}