<div [@routerTransition]>
    <h2 class="text-muted">Tablero Resumen</h2>
    <hr />
    <div class="row wow slideInDown" data-wow-duration="1s">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-fire'" [count]="totalI" [label]="'Indisciplinas'" [route]="'/indisciplinas'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'info'" [icon]="'fa-users'" [count]="totalS" [label]="'Sancionados'" [route]="'/sancionados'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-user-secret'" [count]="totalD" [label]="'Demandantes'" [route]="'/demandantes'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-gavel'" [count]="13" [label]="'Medidas'" [route]="'/medidas'"></app-stat>
        </div>
    </div>
    <hr />
    <div class="row wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
        <div class="col col-sm-12 ">
            <div class="card mb-3 ">
                <div class="card-header bg-secondary ">
                    <strong class="text-white">Cantidad de indisciplinas por categorías</strong>
                </div>
                <div class="card-body " *ngIf="categorias">
                    <canvas baseChart [datasets]="barChartData " [colors]="barChartColors" [labels]="barChartLabels " [options]="barChartOptions " [legend]="barChartLegend " [chartType]="barChartType ">
      </canvas>
                </div>
            </div>
        </div>
    </div>

</div>