<div [@routerTransition]>
    <app-page-header [heading]="'Listado de indisciplinas'" [icon]="'fa-fire'"></app-page-header>

    <div class="row">
        <div class="col-md-2">
            <app-add-indisciplina></app-add-indisciplina>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tbIndisciplinas" [ngClass]="'table table-bordered table-hover display nowrap'" *ngIf="indisciplinas" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Categoria</th>
                            <th>Implicados</th>
                            <th>Fecha</th>
                            <th>Clasificacion</th>
                            <th>Procesada</th>
                            <th>Demandante</th>
                            <th>Descripción</th>
                            <th>Medida</th>
                            <th class="thOperations" width="50px"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false" [focusCancel]="true">
    </swal>

    <swal #questionSwal title="Información" text="¿Está seguro de eliminar este registro?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="eliminarRegistro()">
    </swal>

    <!-- /.row -->
</div>