<div [@routerTransition]>
  <app-page-header [heading]="'Detalles del sancionado'" [icon]="'fa-user'"></app-page-header>

  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header"><b>Ficha personal</b><span class="pull-right btn badge badge-secondary"
            (click)="ExportarFicha(sancionado.id)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Exportar</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <img [src]="foto" alt="" class="rowSancionado" width="200px" height="200px">
            </div>
            <div class="col-sm-8">
              <div *ngIf="sancionado">
                <br><br>
                <h5><i class="fa fa-user" aria-hidden="true"></i> <span class="text-primary"> Nombre y apellidos:
                  </span>{{sancionado.nombre_completo}}</h5>
                <h5><i class="fa fa-users" aria-hidden="true"></i> <span class="text-primary"> Grupo docente:
                  </span>{{sancionado.grupo}}</h5>
                <h5><i class="fa fa-credit-card" aria-hidden="true"></i> <span class="text-primary"> Solapín:
                  </span>{{sancionado.solapin}}</h5>
                <h5><i class="fa fa-fire" aria-hidden="true"></i> <span class="text-primary"> Cantidad de sanciones:
                  </span><span class="badge badge-info">{{indisciplinas.length}}</span></h5>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <h4>Relación de indisciplinas cometidas</h4>
              <div *ngIf="indisciplinas" class="table-responsive" style="font-size: 13px">
                <table class="table table-bordered table-striped table-hover display nowrap" width="100%">
                  <thead>
                    <tr>
                      <th width="12%" class="text-primary"><i class="fa fa-info-circle" aria-hidden="true"></i>
                        Referencia</th>
                      <th width="15%" class="text-primary"><i class="fa fa-calendar" aria-hidden="true"></i> Fecha</th>
                      <th width="20%" class="text-primary"><i class="fa fa-filter" aria-hidden="true"></i> Categoría
                      </th>
                      <th width="20%" class="text-primary"><i class="fa fa-user-secret" aria-hidden="true"></i>
                        Clasificación</th>
                      <th class="text-primary"><i class="fa fa-info-circle" aria-hidden="true"></i> Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let indisciplina of indisciplinas">
                      <td>{{indisciplina.referencia}}</td>
                      <td>{{indisciplina.fecha | date}}</td>
                      <td *ngIf="categorias">{{getCategoria(indisciplina.id_categoria)}}</td>
                      <td>{{indisciplina.clasificacion}}</td>
                      <td>{{indisciplina.descripcion}}</td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
