<div [@routerTransition]>
    <app-page-header [heading]="'Listado de sancionados'" [icon]="'fa-users'"></app-page-header>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tbSancionados" [ngClass]="'table table-bordered table-hover display nowrap'" *ngIf="sancionados" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Solapin</th>
                            <th>Grupo</th>
                            <th>Creado</th>
                            <th class="thOperations" width="50px"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false" [focusCancel]="true">
    </swal>

    <swal #questionSwal title="Información" text="¿Está seguro de eliminar este registro?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="eliminarRegistro()">
    </swal>

    <!-- /.row -->
</div>