<div [@routerTransition]>
    <app-page-header [heading]="'Listado de medidas'" [icon]="'fa-gavel'"></app-page-header>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tbMedidas" [ngClass]="'table table-bordered table-hover display nowrap'" *ngIf="medidas" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center" width="50px">Ref.Indisciplina</th>
                            <th class="text-center" style="text-overflow: ellipsis; width: 200px; white-space: nowrap; overflow: hidden;"> Medida aplicada
                            </th>
                            <th>Detalles de la indisciplina</th>
                            <th class="thOperations" width="50px"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <swal #successSwal title="Información" text="Registro eliminado" type="success" [showCancelButton]="false" [focusCancel]="true">
    </swal>

    <swal #questionSwal title="Información" text="¿Está seguro de eliminar este registro?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="eliminarRegistro()">
    </swal>

    <!-- Ventana modal-->
    <ng-template #modalMedida let-c="close" let-d="dismiss">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title"><i class="fa fa-gavel"></i> Editar medida</h5>
                <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Medida</label>
                    <input type="hidden" formControlName="id">
                    <input type="text" formControlName="medida" class="form-control" placeholder="Medida" aria-describedby="helpId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="c('Close click')"><i class="fa fa-remove" aria-hidden="true"></i>
        Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
    </ng-template>

    <swal #confirmSwal title="Información" text="Medida actualizada" type="success" [showCancelButton]="false" [focusCancel]="true" (confirm)="cerrarVentana()">
    </swal>
</div>