<scd-table #tablaBlank (verClick)="this.verClick($event)" (editClick)="this.editClick($event)" [titulo]="this.tituloTabla" [orientacionPage]="this.portrait" [urlApi]="this.urlTablaBlank" [tieneOperaciones]="this.tieneOperaciones" [nombreColumnas]="this.nombreColumnas"
    [datosColumnas]="this.datosColumna" (eliminarClick)="this.eliminarClick($event)">
</scd-table>

<table class="table table-bordered table-striped table-responsive">
    <tr *ngFor="let demandante of demandantes">
        <td>{{ demandante.id }}</td>
        <td>{{ demandante.nombre_completo }}</td>
        <td>{{ demandante.solapin }}</td>
        <td>{{ demandante.cargo }}</td>
    </tr>
</table>
